body {
  height: 100%;
  min-height: 100%;
}

.leave-space-1 {
  margin-top: 100px;
}
.leave-space-2 {
  margin-top: 200px;
}
.body-content {
  max-width: 1000px;
  margin-top: 80px;
}

.navbar-item {
  padding: 5px;
}
.navbar-item:hover { 
  border-bottom: solid 1px #3c3c3c;
}

.header {
  width: 100%;
  border-bottom: 1px solid rgba(139, 137, 137, 0.274);
  background-color: #ffffff;
}

.cursor-pointer {
  cursor: pointer;
}

.image-fit {
  object-fit: cover;
}

.no-underline:hover,
.no-underline {
  text-decoration: none;
  color: #0c0c0c;
}
.task:hover {
  background: #e4e3e379;
}
.task-ctrl {
  cursor: pointer;
  border: none;
  background: none;
  padding: 10px;
}
.task-ctrl:hover {
  border-radius: 50%;
  background: #d1cfcf79;
}
.update-container{
position: relative;
margin-bottom: 10px;
}
.cancel-update{
  position: absolute;
  bottom:0px;
  right: 0px;
}
